
## <summary>policy for lbclient</summary>

########################################
## <summary>
##	Execute lbclient_exec_t in the lbclient domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`lbclient_domtrans',`
	gen_require(`
		type lbclient_t, lbclient_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, lbclient_exec_t, lbclient_t)
')

######################################
## <summary>
##	Execute lbclient in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lbclient_exec',`
	gen_require(`
		type lbclient_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, lbclient_exec_t)
')

########################################
## <summary>
##	Execute lbclient in the lbclient domain, and
##	allow the specified role the lbclient domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the lbclient domain.
##	</summary>
## </param>
#
interface(`lbclient_run',`
	gen_require(`
		type lbclient_t;
		attribute_role lbclient_roles;
	')

	lbclient_domtrans($1)
	roleattribute $2 lbclient_roles;
')

########################################
## <summary>
##	Role access for lbclient
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	User domain for the role
##	</summary>
## </param>
#
interface(`lbclient_role',`
	gen_require(`
		type lbclient_t;
		attribute_role lbclient_roles;
	')

	roleattribute $1 lbclient_roles;

	lbclient_domtrans($2)

	ps_process_pattern($2, lbclient_t)
	allow $2 lbclient_t:process { signull signal sigkill };
')
