
module lbclient 1.4;

require {
	type snmpd_t;
        type afs_t;
	type var_spool_t;
        type shadow_t;
        type port_t;
	type initrc_t;
	class udp_socket write;
	class file { read open getattr };
        class tcp_socket name_connect;
}

#============= snmpd_t ==============
allow snmpd_t initrc_t:udp_socket write;
allow snmpd_t var_spool_t:file { read open getattr };
allow snmpd_t afs_t:udp_socket write;
allow snmpd_t shadow_t:file { read open getattr };
allow snmpd_t port_t:tcp_socket name_connect;
